<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dashboard - Bootstrap Admin</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="../static/media/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/media/css/bootstrap-datetimepicker.css" media="screen"/>

    <link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
    <link href="../static/css/font-awesome.css" rel="stylesheet" />

    <link href="../static/css/adminia.css" rel="stylesheet" />

    <link href="../static/css/pages/dashboard.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="../static/media/css/jquery.dataTables.css">
      <link rel="stylesheet" href="../static/media/css/jquery.datetimepicker.css"/>


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<dialog id = "add_dialog"  style="border-radius: 15px;border-color: gray;width: 40%;margin-top: 5%;position:fixed;left:0px;top:0px;right:0px;bottom:0px;margin:auto;" >
<div style="margin:0 auto;padding: 5% 15%;overflow: hidden;">
    <table  class="table-striped form-horizontal" style="border-collapse:separate; border-spacing:0px 10px;width: 100%;table-layout: fixed;">
        <tr>
            <td>Time:</td>
            <td>
                <input type="text" value="2021-12-06T13:59:59" name="time-input" id = "time-input" />
            </td>
        </tr>
        <tr>
            <input style="display: none" type="text" name="e_id" id="e_id">
            <td>Food Name:</td>
            <td><input class="form-control" type="text"  name="food-input" id="food-input"></td>
        </tr>
        <tr >
            <td>Intake:</td>
            <td><input class="form-control" type="text"  name="intake-input" id="intake-input"></td>
        </tr>
        <tr >
            <td>Calorie:</td>
            <td><input class="form-control" type="text"  name="calorie-input" id="calorie-input"></td>
        </tr>
    </table>
    <table style="border-collapse:separate; border-spacing:0px 10px;width: 100%;margin-top: 10%;text-align: center">
        <tr>
            <td ><button type="button"  class="btn btn-primary" id="cancel-button">Cancel</button></td>
            <td><button type="submit"  class="btn btn-primary" id="submit-button">Submit</button></td>
        </tr>


    </table>


</div>



</dialog>

<div class="navbar navbar-fixed-top">

	<div class="navbar-inner">

		<div class="container">

			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<a class="brand" href="./">Adminia Admin</a>

			<div class="nav-collapse">

				<ul class="nav pull-right">
					<li>
						<a href="#"><span class="badge badge-warning">7</span></a>
					</li>

					<li class="divider-vertical"></li>

					<li class="dropdown">

						<a data-toggle="dropdown" class="dropdown-toggle " href="#">
							Rod Howard <b class="caret"></b>
						</a>

						<ul class="dropdown-menu">
							<li>
								<a href="./account.html"><i class="icon-user"></i> Account Setting  </a>
							</li>

							<li>
								<a href="./change_password.html"><i class="icon-lock"></i> Change Password</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="./"><i class="icon-off"></i> Logout</a>
							</li>
						</ul>
					</li>
				</ul>

			</div> <!-- /nav-collapse -->

		</div> <!-- /container -->

	</div> <!-- /navbar-inner -->

</div> <!-- /navbar -->




<div id="content">

	<div class="container">

		<div class="row">

			<div class="span3">

				<div class="account-container">

					<div class="account-avatar">
						<img src="./img/headshot.png" alt="" class="thumbnail" />
					</div> <!-- /account-avatar -->

					<div class="account-details">

						<span class="account-name">Rod Howard</span>

						<span class="account-role">Administrator</span>

						<span class="account-actions">
							<a href="javascript:;">Profile</a> |

							<a href="javascript:;">Edit Settings</a>
						</span>

					</div> <!-- /account-details -->

				</div> <!-- /account-container -->

				<hr />

				<ul id="main-nav" class="nav nav-tabs nav-stacked">

                    <li>
						<a href="/PersonalPage">
							<i class="icon-pushpin"></i>
							Vital signs
						</a>
					</li>

					<li>
						<a href="">
							<i class="icon-pushpin"></i>
							Medication
						</a>
					</li>

					<li class="active">
						<a href="">
							<i class="icon-pushpin"></i>
							Diet
						</a>
					</li>

					<li >
						<a href="/Notehome">
							<i class="icon-pushpin"></i>
							Notes
						</a>
					</li>

					<li>
						<a href="">
							<i class="icon-pushpin"></i>
							Search
						</a>
					</li>

					<li>
						<a href="">
							<i class="icon-pushpin"></i>
							Appointments
						</a>
					</li>

					<li>
						<a href="">
							<i class="icon-pushpin"></i>
							Communication
						</a>
					</li>

				</ul>

				<hr />

				<div class="sidebar-extra">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
				</div> <!-- .sidebar-extra -->

				<br />

			</div> <!-- /span3 -->



			<div class="span9">

				<h1 class="page-title">
					<i class="icon-home"></i>
					Dashboard
				</h1>

				<div class="stat-container">

					<div class="stat-holder">
						<div class="stat">
							<span>{{ info['record_days']}}</span>
							Record Days
						</div> <!-- /stat -->
					</div> <!-- /stat-holder -->

					<div class="stat-holder">
						<div class="stat">
							<span>{{ info['max_weight'] }}kg</span>
							Max Weight
						</div> <!-- /stat -->
					</div> <!-- /stat-holder -->

					<div class="stat-holder">
						<div class="stat">
							<span>{{ info['min_weight'] }}kg</span>
							Min Weight
						</div> <!-- /stat -->
					</div> <!-- /stat-holder -->

					<div class="stat-holder">
						<div class="stat">
							<span>{{ info['avg_weight'] }}kg</span>
							Average Weight
						</div> <!-- /stat -->
					</div> <!-- /stat-holder -->

				</div> <!-- /stat-container -->

				<div class="widget">

					<div class="widget-header">
						<i class="icon-signal"></i>
						<h3>Area Chart</h3>
					</div> <!-- /widget-header -->

					<div class="widget-content">
						<div id="line-chart" class="chart-holder"></div> <!-- /bar-chart -->
					</div> <!-- /widget-content -->

				</div> <!-- /widget -->



				<div class="widget widget-table">

					<div class="widget-header">
						<i class="icon-th-list"></i>
						<h3>Table</h3>
                        <button id = "add_diet" style="float: right;margin-top: 6px;margin-right: 10px" class="btn btn-primary"> Add</button>
					</div> <!-- /widget-header -->

					<div class="widget-content" style="padding: 15px">

						<table id="data_table"  class="table table-striped">
							<thead>
								<tr>
									<th>ID</th>
									<th>Food Name</th>
									<th>Intake</th>
									<th>Calorie(kcal)</th>
									<th>Date</th>
									<th>Operation</th>
								</tr>
							</thead>

							<tbody>
                            {% for item in info["diet_info"] %}
                                <tr>
									<td>{{ item[0] }}</td>
									<td>{{ item[1] }}</td>
									<td>{{ item[2] }}</td>
									<td>{{ item[3] }}</td>
									<td>{{ item[4] }}</td>
									<td class="action-td">
										<button name="{{ item[0] }}" class="delete-btn btn btn-warning btn-xs">Del</button>
									</td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>

					</div> <!-- /widget-content -->

				</div> <!-- /widget -->




				<div class="row">

					<div class="span5">

						<div class="widget">

							<div class="widget-header">
								<h3>5 Column</h3>
							</div> <!-- /widget-header -->

							<div class="widget-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->

					</div> <!-- /span5 -->

					<div class="span4">

						<div class="widget">

							<div class="widget-header">
								<h3>4 Column</h3>
							</div> <!-- /widget-header -->

							<div class="widget-content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							</div> <!-- /widget-content -->

						</div> <!-- /widget -->
					</div> <!-- /span4 -->

				</div> <!-- /row -->

			</div> <!-- /span9 -->


		</div> <!-- /row -->

	</div> <!-- /container -->

</div> <!-- /content -->


<div id="footer">

	<div class="container">
		<hr />
		<p>&copy; 2012 Go Ideate.</p>
	</div> <!-- /container -->

</div> <!-- /footer -->



<script type="text/javascript" charset="utf8" src="../static/media/js/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="../static/media/js/jquery.dataTables.js"></script>
<script src="../static/media/js/jquery.datetimepicker.min.js" ></script>
<script src="../static/js/echarts.js"></script>


================================================== -->
<script>
    <!--第三步：初始化Datatables-->
    $(document).ready(function () {
        var table = $('#data_table').DataTable();


        $('#data_table tbody').on( 'click', '.delete-btn', function () {
            var data = table.row( $(this).parents('tr') ).data()
            console.log(data[0])
            table.row( $(this).parents('tr') ).remove().draw();
        } );
    });

    $(function () {
        $.getJSON('/historyWeight', function(info) {
            var chartDom = document.getElementById('line-chart');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                    },
                toolbox: {
                    feature: {
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                    },
                legend: {
                    data: ['Weight', 'kcal']
                },
                xAxis: [
                    {
                        type: 'category',
                        data: info['x_data1'],
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                    ],
                yAxis: [
                    {
                        type: 'value',
                        name: 'Weight',
                        axisLabel: {
                            formatter: '{value} kg'
                        }
                        },
                    {
                        type: 'value',
                        name: 'kcal',
                        axisLabel: {
                            formatter: '{value} kcal'
                        }
                    }
                    ],
                series: [
                    {
                        name: 'Weight',
                        type: 'bar',
                        data: info['y_data']
                    },

                    {
                        name: 'kcal',
                        type: 'line',
                        yAxisIndex: 1,
                        data: info['y_data1']
                    }
                    ]
            };
            option && myChart.setOption(option);
            window.onresize = function () {
                myChart.resize();
            }
        });
    })

    $("#add_diet").on('click', function () {      //点击添加按钮的事件
    var x = document.getElementById("add_dialog");
    x.style.zIndex = 9
    x.show()
    });

    $("#cancel-button").on('click', function () {      //点击添加按钮的事件
       var x = document.getElementById("add_dialog");
       x.close()
});
    $(document).ready(function() {
      $('#time-input').datetimepicker({
                format:"Y-m-d H:i:s",
            });
  });
    $("#submit-button").on('click', function () {      //点击添加按钮的事件
        var time = $('#time-input').val();
        var food = $('#food-input').val();
        var calorie = $('#calorie-input').val();
        var intake = $('#intake-input').val();
         $.get('/addDiet?time=' + time + '&food=' + food + '&calorie=' + calorie+ '&intake=' + intake , function (res) {
                if (res ==="ok") {
                    var x = document.getElementById("add_dialog");
                    x.close()
                    var t = $('#data_table').DataTable();
                    t.row.add($('<tr><td>' + 1+'</td><td>' + food +'</td> <td>' + intake+'</td> <td>' + calorie +'</td> <td>' + time+'</td> <td class="action-td"> <button name="1" class="delete-btn btn btn-warning btn-xs">Del</button> </td></tr>')).draw();

                }else {
                    alert("save false!")
                }
            })

    });
</script>

  </body>
</html>
