<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Note</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="./../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./../static/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
    <link href="./../static/css/font-awesome.css" rel="stylesheet" />

    <link href="./../static/css/adminia.css" rel="stylesheet" />
    <link href="./../static/css/adminia-responsive.css" rel="stylesheet" />

    <link href="./../static/css/pages/dashboard.css" rel="stylesheet" />

	<!-- 最新版本的 Bootstrap 核心 CSS 文件
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
 -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<div class="navbar navbar-fixed-top">

	<div class="navbar-inner">

		<div class="container">

			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<a class="brand">Personal Health Monitoring System</a>

			<div class="nav-collapse">

				<ul class="nav pull-right">

					<li class="divider-vertical"></li>

					<li class="dropdown">

						<a data-toggle="dropdown" class="dropdown-toggle " href="#">
							Operation <b class="caret"></b>
						</a>

						<ul class="dropdown-menu">
							<li>
								<i class="icon-user"></i> Account Setting  </a>
							</li>

							<li>
								<a href="/ChangeNote"><i class="icon-lock"></i> Change Note</a>
							</li>

							<li class="divider"></li>

							<li>
								<a href="./"><i class="icon-off"></i> Logout</a>
							</li>
						</ul>
					</li>
				</ul>

			</div> <!-- /nav-collapse -->

		</div> <!-- /container -->

	</div> <!-- /navbar-inner -->

</div> <!-- /navbar -->

<div id="content">
	<div class="container">
		<div class="row">

			<div class="span3">

				<div class="account-container">

					<div class="account-avatar">
						<img src="../static/img/headshot.jpg" alt="" class="thumbnail" />
					</div> <!-- /account-avatar -->

					<div class="account-details">

						<span class="account-name">Test user 001</span>

						<span class="account-role">Test user</span>

						<span class="account-actions">
							<a href="javascript:;">Profile</a>

							<a href="javascript:;">Edit Settings</a>
						</span>

					</div> <!-- /account-details -->

				</div> <!-- /account-container -->

				<hr />

				<ul id="main-nav" class="nav nav-tabs nav-stacked">

                    <li>
						<a href="/PersonalPage">
							<i class="icon-pushpin"></i>
							Vital signs
						</a>
					</li>

					<li class="active">
						<a href="/MedicationHome">
							<i class="icon-pushpin"></i>
							Medication
						</a>
					</li>

					<li>
						<a href="">
							<i class="icon-pushpin"></i>
							Diet
{#							<span class="label label-warning pull-right">5</span>#}
						</a>
					</li>

					<li>
						<a href="/Notehome">
							<i class="icon-pushpin"></i>
							Notes
						</a>
					</li>

					<li>
						<a href="">
							<i class="icon-pushpin"></i>
							Search
						</a>
					</li>

					<li>
						<a href="">
							<i class="icon-pushpin"></i>
							Appointments
						</a>
					</li>

					<li>
						<a href="">
							<i class="icon-pushpin"></i>
							Communication
						</a>
					</li>

				</ul>

				<hr />

				<div class="sidebar-extra">
					<p>Allow individual to keep their favorite recipes, diet descriptions, health articles, or general notes in this system.</p>
				</div> <!-- .sidebar-extra -->

				<br />

			</div> <!-- /span3 -->

			<div class="span9">

				<h1 class="page-title">
					<i class="icon-home"></i>
					Medication
				</h1>

				<div class="widget widget-table">

					<div class="widget-header">
						<i class="icon-th-list"></i>
						<h3>Medication Info</h3>
					</div> <!-- /widget-header -->

					<div class="widget-content" style="padding: 25px 25px 15px 25px;">
						<form class="form-horizontal" id='form' action="/MedicationEdit" method="POST">

							<div class="control-group" style="display:none">
								<label class="control-label">MedicationId</label>
								<div class="controls">
								<input type="text" id="medicationId" name="medicationId" style="border:none;outline:none;">
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">Disease</label>
								<div class="controls">
								<input type="text" id="disease" name="disease" style="border:none;outline:none;">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Doctor </label>
								<div class="controls">
								<input type="text" id="doctor" name="doctor" style="border:none;outline:none;">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Consulted Date </label>
								<div class="controls">
								<input type="text" id="date" name="date" readonly="readonly" style="border:none;outline:none;">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Doctor follow-up</label>
								<div class="controls">
								<input type="text" id="nextDate" name="nextDate"  class="layui-input" style="border:none;outline:none;">
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Update</button>
								<a href="/MedicationHome" type="submit" class="btn btn-link">Cancel</a>
							</div>
						</form>
						
					</div> <!-- /widget-content -->

				</div> <!-- /widget -->


				<div class="widget widget-table">

					<div class="widget-header">
						<i class="icon-th-list"></i>
						<h3>Medicine Info</h3>
					</div> <!-- /widget-header -->

					<div class="widget-content" style="padding: 20px 25px 15px 25px;">

						<table class="table table-striped table-bordered">
							<thead>
								<th>Medicine</th>
								<th>Type</th>
								<th>Consumption time</th>
								<th>Operation</th>
                            </thead>
							{% for row in medicines  %}
							<tr>
								<td>{{ row[2] }}</td>
								<td>{{ row[3] }}</td>
								<td>{{ row[4] }}</td>
								<td class="td-manage">
									<a href="/MedicineEdit?mmId={{row[0]}}&&medicationId={{row[1]}}" class="btn " type="submit" style="margin-right: 10px;"></span>edit</button>
									<a title="delete" href="javascript:void(0)" class="btn btn-warning btn-block" onclick="medicine_del(this,'{{row[0]}}')"
                                        style="text-decoration:none">delete</a>
								</td>
							</tr>
                            {% endfor %}
						</table>

					</div> <!-- /widget-content -->

				</div> <!-- /widget -->

				<div class="widget widget-table">
					<div class="widget-header">
						<i class="icon-th-list"></i>
						<h3>Medicine Edit</h3>
					</div> <!-- /widget-header -->

					<div class="widget-content" style="padding: 20px 20px 15px 20px;">

						<form class="form-horizontal" id='form1' action="" method="POST">

							<div class="control-group" style="display:none">
								<label class="control-label">mmId</label>
								<div class="controls">
								<input type="text" id="mmId" name="mmId" style="border:none;outline:none;">
								</div>
							</div>
							<div class="control-group" style="display:none">
								<label class="control-label">meId</label>
								<div class="controls">
								<input type="text" id="meId" name="meId" style="border:none;outline:none;">
								</div>
							</div>

							<div class="control-group">
								<label class="control-label">Medicine</label>
								<div class="controls">
								<input type="text" id="medicine" name="medicine" style="border:none;outline:none;">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Type </label>
								<div class="controls">
									<select id="type" name="type">
										<option>oral medication</option>
										<option>injection</option>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Consumption time</label>
								<div class="controls">
								<input type="text" id="comment" name="comment"  class="layui-input" style="border:none;outline:none;">
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" onclick=medicine_addd() class="btn btn-primary">Add</button>
								<button type="submit" onclick=medicine_edit() class="btn btn-primary">Update</button>
								<a href="/MedicationHome" type="submit" class="btn btn-link">Cancel</a>
							</div>
						</form>

					</div> <!-- /widget-content -->
				</div> <!-- /widget -->


			</div> <!-- /span9 -->


		</div> <!-- /row -->

	</div> <!-- /container -->

</div> <!-- /content -->


<div id="footer">

	<div class="container">
		<hr />
		<p>Team 1 Personal Health Monitoring System (PHMS)</p>
	</div> <!-- /container -->

</div> <!-- /footer -->


<script type="text/javascript">
	document.getElementById("medicationId").value= '{{medication[0]}}'
	document.getElementById("disease").value= '{{medication[2]}}'
	document.getElementById("doctor").value='{{medication[3]}}'
	document.getElementById("date").value='{{medication[4]}}'
	document.getElementById("nextDate").value= '{{medication[5]}}'

	document.getElementById("mmId").value='{{medicine[0]}}'
	document.getElementById("meId").value=document.getElementById("medicationId").value
	document.getElementById("medicine").value='{{medicine[2]}}'
	document.getElementById("type").value='{{medicine[3]}}'
	document.getElementById("comment").value= '{{medicine[4]}}'


	console.log(document.getElementById("medicationId").value)
	console.log(document.getElementById("meId").value)

	function medicine_edit(){
		console.log('medicine editttt')
		document.form1.action="/MedicineEdit";
		document.form1.submit();
	}

	function medicine_addd(){
		console.log('medicine addddd')
		document.form1.action="/MedicineAdd";
		document.form1.submit();
	}

  </script>



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./../static/js/jquery-1.7.2.min.js"></script>
<script src="./../static/js/excanvas.min.js"></script>
<script src="./../static/js/jquery.flot.js"></script>
<script src="./../static/js/jquery.flot.pie.js"></script>
<script src="./../static/js/jquery.flot.orderBars.js"></script>
<script src="./../static/js/jquery.flot.resize.js"></script>


<script src="./../static/js/bootstrap.js"></script>
<script src="./../static/js/charts/bar.js"></script>

</body>
<script>
	function medicine_del(obj,id){
		var data = {}
		data['mmId'] = id
		$.ajax({
			url: '/MedicineDel',
			dataType: "text",
			type: "POST",
			contentType: 'application/json; charset=UTF-8',
			data: JSON.stringify(data),
			success:function(res){
				window.location.reload()
			},
			error:function(){
				layer.msg('failed!',{icon:1,time:1000});
			},
		});
    }
</script>
</html>
